<!DOCTYPE html>
<html>
  <head>
    <title>Thing Collector</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1>Thing Collector</h1>
    <a href="/bikes">Bikes</a>
  </body>
</html>
