<!DOCTYPE html>
<html>
  <head>
    <title>Thing Collector</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Thing Collector!</h1>
    <p>Where all the "things" live.</p>
    <a href="/transformers">Take me to the Transformers!</a>
    <a href="/sodas">Sodas</a>
    <a href="/ocean">Ocean Page</a>
    <a href="/pokemon">cool things i want </a>
    <a href="/bikes">Bikes</a>
    <a href="/restaurants">Monica's List of Things</a>
  </body>
</html>
