<!DOCTYPE html>
<html>
  <head>
    <title>Thing Collector</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Thing Collector!</h1>
    <p>Where all the "things" live.</p>
    <a href="/transformers">Take me to the Transformers!</a>
  </body>
</html>
