<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>things brandon wants to collect</h1>
    <a href="/pokemon">cool things i want </a>


    
  </body>
</html>
