<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>things brandon wants to collect</h1>
    <a href="/pokemon">other Cool things to collect that arent as cool as the above image</a>

    <img
      src="https://static.pokemonpets.com/images/monsters-images-800-800/94-Gengar.png"
      alt="pokemon gengar"
    />
  </body>
</html>
