<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monica's Restaurant Recommendations</title>
</head>
<body>
    <h1>Monica's Restaurant Recommendations</h1>
    <ul>
        <li><a href="https://mandolas.com/">Mandola's Italian</a></li>
        <li><a href="https://kemuri-tatsuya.com/">Kemuri Tatsu-Ya</a></li>
        <li><a href="https://www.elalmacafe.com/menu/">El Alma</a></li>
        <li><a href="https://www.russianhouseofaustin.com/">Russian House</a></li>
    </ul>
    
</body>
</html>