<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sodas Page</title>
  </head>
  <body>
    <h1>Sodas!</h1>
    <div>
      <ul>
        <li>
          Dr. Pepper
          <img
            src="https://www.dollargeneral.com/media/catalog/product/cache/0729a8e318a86bbdd225c6c8aa5967a3/1/4/14912101.jpg"
            alt="Dr. Pepper Can"
            width="500"
          />
        </li>
        <li>
          Root Beer
          <img
            src="https://i2.wp.com/karunfreshgrocery.com/wp-content/uploads/2018/11/AW-ROOT-BEER-12-FL-OZ355-mL.png?ssl=1"
            alt="Root Beer Can"
            width="500"
          />
        </li>
        <li>
          Sprite
          <img
            src="https://www.sprite.com/products/media/catalog/product/cache/3690389dfb71d96c198d442c7b7e7d25/l/e/lemon-lime.png"
            alt="Sprite Can"
            width="500"
          />
        </li>
        <li>
          Coca-Cola
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71W%2BHikjmKL._SX425_.jpg"
            alt="Coca-Cola Can"
            width="500"
          />
        </li>
        <li>
          Ginger Ale
          <img
            src="https://www.broudys.com/images/products/img6996.jpg"
            alt="Ginger Ale Can"
            width="500"
          />
        </li>
      </ul>
    </div>
  </body>
</html>
